.search {
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 30px;
}
