.new-food-div {
    position: fixed;
    width: 415px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    padding: 20px;
  }

.new-food-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-food-form {
    position: relative;
}

.close-form-btn {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: transparent;
    border: none;
}