.box {
  width: 100%;
  height: 10vh;
  margin: 2vh 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid #DDD;
  box-shadow: 2px 2px 2px #999;
  border-radius: 2px;
}

article.media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-left {
  display: flex;
  align-items: center;
}

.media-content {
  padding: 0 10px;
  height: 64px;
  width: 50%;
  display: flex;
  align-items: center;
}

.media-content p{
  margin: 0;
}

.media-right {
  height: 64px;
  width: 33%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.box .button {
  padding: 0;
  font-size: 1.5em;
  color: #FFFFFF;
}

button {
  height: 64px;
  width: 64px;
  border: none;
  background-color: #209cee;
  color: #FFFFFF;
}

input.input {
  width: 60%;
  border: none;
}

figure.image {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

figure.is-64x64 img{
  width: 64px !important;
  height: 64px !important;
}