.FormAddFood-more-food {
    margin: 15px 0;
}

.FormAddFood-h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.FormAddFood-save-food {
    margin-bottom: 15px;
}

.FormAddFood-input {
    margin-right: 50px;
}