.container>h1:first-child{
margin-top: 2rem;
}
.container__btn-add{
        margin: 1rem auto 2rem;
}

.form-add-new {
        position: absolute;
        z-index: 50;
        top: -100vh;
        left: -100vw;
        width: 200vw;
        height: 200%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0;
        margin: 0;

}

