

  .search-bar {
    margin-bottom: 30px;
  }

  .box {
    padding: 0;
    max-width: 800px;
  }

  .box .media {
    -ms-flex-align: center;
    align-items: center;
  }

  .box img {
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .box input {
    width: 100px;
    text-align: center;
    border: 0px white;
    -webkit-box-shadow: inset 0 1px 2px white;
    box-shadow: inset 0 1px 2px white
  }

  .box .button {
    width: 64px;
    font-size: 1.3em;
    height: 100%;
  }

  .box input,
  .box .button {
    height: 64px;
  }

  ul {
    margin-bottom: 10px;
  }

  figure img {
      max-width: 64px;
  }

  article {
      display: flex;
      justify-content: space-between;
      border: thin solid #ccc;
  }

  .field {
      display: flex;
  }

  .form {
    z-index: 890;
    position: absolute;
    margin: auto;
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    height: 100%;
    
  }

  .form > div {
    color: #fff;
    font-size: 2rem;
    text-align: right;
    margin: 2%;
  }

  .form form {
    background-color: #fff;
    padding: 5%;
    border: grey thin solid;
    margin: 2%;

  }

  .Searchbar {
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: center;

  }

  .Searchbar > div {
    max-width: 900px;
  }

  .Button {
    width: 100%;
    background-color: #3e8ed0 !important;
    max-width: 550px;
    min-height: 100px;
    margin-bottom: 0 !important;
    border-radius: 5px;
  }

  .Button:hover {   
    background-color: #CBD12A !important;    
  }

  .FoodList {
    margin-top: 3%;
  }