main {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
}

main h3 {
 text-align: center; 
 border-bottom: 1px solid #000; 
 line-height: 0.1em;
 margin: 10px 0 20px;
}

main h3 span {
 background:#fff; 
 padding:0 10px; 
}

.search {
 width: 98%; 
}

.food-page {
 width: 98%;

}
.box {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}