body {
    border: 3px solid #eee;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

.application {
    background: white;
}

.image img{
    width: 250px;
}

.media {
    display: flex;
}
