.form-container input{
  width: 300px;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 380px;
  text-align: right;
}

#form-btn {
  margin-bottom: 50px;
  margin-left: 150px;
}

