

.food-container {
    max-width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.488);
}

.food-container-left,
.food-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.food-container-left div {
    padding: 1rem;
}

.food-container input {
    font-size: 1.2rem;
    text-align: center;
    border: none;
    padding: 1rem;
    width: 3rem;
}

.food-container button {
    border: none;
    margin: 0;
    padding: 3rem;
    font-size: 2rem;
    background-color: cornflowerblue;
    color: white;
}

.food-container img {
    object-fit: cover;
  width: 150px;
  height: 90px;
}