.box {
    width: 450px;
    height: 70px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.box img {
    margin-top: 10px;
    height: 60px;
}

.content {
    margin-top: 10px;
}

.input {
    width: 70px;
    height: 70px;
    border: 0px;
}

.button {
    width: 70px;
    height: 70px;
    font-size: 30px;
}

.form {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.form input {
    margin: 10px;
}

.form button {
    width: 100px;
    height: 30px;
    font-size: 20px;
}

.form-div button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}