.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tfHeading {
  font-size: 3em;
}

.foodListElement {
  display: flex;
  justify-content: center;
}

.foodListElement p {
  margin: 0 5px;
}

.trashIcon {
  font-size: 1.5em;
}
