.AddFood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
  align-items: center;
}
.AddFood-input {
  width: 65vw;
  margin-right: 1vh;
}
.AddFood-button {
  width: 10vw;
  margin-left: -1vh;
  margin-right: 1.25vh;
  margin-top: 0.5vH;
}

.input {
  margin-top: 0.5vh;
}
