.AddFood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vh 0;
  align-items: center;
}
.AddFood-input {
  width: 66vw;
}
.AddFood-input input{
  width: 21vw;
  margin-right: 0.7rem;
}

.AddFood-button {
  width: 10vw;
  display: flex;
  justify-content: flex-start;
}

.input {
  margin-top: 0.5vh;
}
