.search-contianer {
    /* display: flex; */
    /* justify-content: start; */
    width: 75%;
    margin: 1rem 0 0 2rem;
    text-align: left;
    margin-left: 10%;
}

.search-contianer input {
    padding-left: 1rem;
    font-size: 1.15rem;
    height: 2.5rem;
    width: 55%;
    border-radius: .2rem;
    border-color: grey;
    border-width: 1px;
    outline: none;
}