.App {
  text-align: center;
  padding: 2rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainSection {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
}

.foodSection {
  width: 30vw;
}

.listSection {
  text-align: left;
  /* display: flex;
  justify-content: center;
  flex-flow: column; */
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
