.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.column {
  width: 50%;
}

.column:nth-child(2) {
position: absolute;
top: 0;
right: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
