.App {
  padding: 15px;
}
#Header {
  padding: 15px;
}
#container {
  padding: 15px;
}
#columns {
  padding: 15px;
}
#search-bar{
  margin-bottom: 30px;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
