.form-food-wrap {
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 60px;
}

.toggle-form button {
	width: 100%;
}

.form-food {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
}

.form-food button {
	width: 100%;
	margin-top: 10px;
}

.form-food label {
	text-align: left;
}