body {
  margin: 8px !important;
  padding: 8px !important;
  font-family: sans-serif;
}
.foodimg {
  width: 100vh;
  height: 100vh;
}
.box {
  /* display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; */
  width: 35%;
}
.media {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 450px;
  height: 100px;
  border: 1px solid gainsboro;
  box-shadow: 10in;
  box-sizing: border-box;
}
.media-left {
  border: 0px;
}
.input {
  border: none !important;
  background: transparent !important;
  width: 70px !important;
}

.input2 {
  width: 180px !important;
  border: none !important;
  background: transparent !important;
}
.searchbar {
  padding: 3px;
}
.flexy {
  display: flex;
  flex-direction: row;
}
.right {
  font-style: italic;
  font-size: 35px;
  color: #363636;
}
.left {
  width: 60%;
}
