form {
width: 400px;
margin: 0 auto;
}

.card-container {
display: flex;
}

.search-bar{
width: 400px;
margin: 0 auto 50 px auto;
}

div .foods-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: center;
    }

    .App {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 30px auto 30px auto;
        }