.App {
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.main-content{
  display: flex;
  flex-direction: row;
}
.today{
  margin: 5rem;
  margin-top: 0;
  text-align: left;
}
.today h1{
  font-size: 2rem;
  color: rgb(34, 146, 184);
  text-transform: uppercase;
  text-decoration: underline;
}
.today ul{
  font-size: 1rem;
  list-style: disc;
}
.today ul li{
  font-size: 1.5rem;
  color: rgb(34, 146, 184);
  display: flex;
  align-content: center;
}
.today ul li a img{
  margin-left: 1rem;
  width: 1rem;
}
.search{
  width: 100%;
  height:3rem;
  margin-bottom: 1rem;
}
.add-button{
  background-color: rgb(34, 146, 184) ;
  border: none;
  border-style: none;
  padding: 0.5rem 2rem;
  margin-bottom:1rem ;
  font-size: 1rem;
  color: white;
  border-radius: 20px;
  cursor: pointer;

}

.search input{
  width: 100%;
  height: inherit;
  border-radius: 30px;
  border: none;
  background-color: lightblue;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.overlay{
  z-index: 2;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: lightblue;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
 
}
.overlay form{
  
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
}
.overlay form div{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.overlay form div input{
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 50px;
}
.overlay form div button{
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  width: 50%;
  align-self: center;
  padding: 1rem;
  border: none;
  border-radius: 50px;
}