/* Bootstrap overrides */

/* .form-control {
  border: none;
} */

/* Bootstrap overrides */

.food-picture {
    width: auto;
    height: 60px;
  }
  
  .picture-container {
    width: 130px;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .food-box {
    margin: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity-input {
    border: none;
    height: 100%;
  }
  
  .quantity-input-container {
    width: 30%;
    height: 5rem;
  }