#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
}

#search-input {
  width: 300px;
  height: 20px;
  margin: 30px;
}