.food-image {
  width: 200px;
}

.display-food {
}

.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding-bottom: 30px;
  border-bottom: 1px solid red;
}

.food-item {
  list-style-type: none;
  padding: 20px;
}

.card {
  padding: 30px;
}
