body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: cornflowerblue;
  text-shadow: 2px 2px 2px black;
}

.foodbox-container {
  width: 80vw;
  margin: 0 auto;
  border: cornflowerblue 2px solid;
}