.btn-add {
  display: block;
  padding: 14px 24px 20px;
  margin: 20px auto;
  text-align: center;
  font-size: 2.5em;
  color: rgb(175, 175, 175);
  line-height: 100%;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn-add:hover {
  color: rgb(119, 119, 119);
  border: rgb(175, 175, 175) 2px solid;
}
