.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodlist{
  display: flex;
  flex-wrap: wrap;
}

.addForm, .search {
  max-width: 500px;
}

.hideButton{
  border-color: lightskyblue;
  background-color: none;
  color: rgb(46, 134, 189);
  padding: 10px;
}