@import '../../assets/styles/general.scss';

.box {
  @include flex(flex, row, nowrap, space-between, stretch);
  border: solid 1px #dddfe0;
  height: 75px;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  &__img {
    display: flex;
    align-items: center;
    width: 20%;
    overflow: hidden;
  }

  &__photo {
    max-width: 80%;
    height: 100%;
  }

  &__info {
    @include flex(flex, column, wrap, center, flex-start);
    width: 60%;
  }

  &__controls {
    @include flex(flex, row, nowrap, space-evenly, center);
    width: 20%;
  }

  &__input {
    width: 50%;
    text-align: center;
    border: none;
    font-size: 1.8rem;

  }

  &__btn {
    width: 50%;
    background-color: $secondary-color;
    padding: 20px;
    height: 100%;
    text-align: center;
    color: $white-color;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

}