.card-image-container {
    width: 8rem;

    .card-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
    }
}

.card-body {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    .body-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 !important;
        
        h2 {
            margin: 0;
        }
    
        p {
            margin: 0;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        p {
            margin: 1rem;
        }
    }
}
