.FoodBox {
  border: 1.5px solid lightgrey;
  width: 500px;
  height: 600;
  text-align: left;
}

.Title {
  border-bottom: 1px solid lightgrey;
  padding:  0 35px;
  font-size: 30px;
}

.Content {
  padding: 35px;
  font-size: 20px;
   
}

.Btn {
  color: white;
  background: dodgerblue;
  border: none;
  border-radius: 2px;
  padding: 15px 25px;
  font-size: 18px;
}

.Content img{
  width: 100px;
  height: 75px;
}
