form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
}

form div{
    padding: 5px;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

form div label{
    padding: 0 10px;
}


.form-div{
    height: 400px;
}

#button-add{
    margin-left: 200px;
}