.AddFoodForm form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AddFoodForm input{
  width: 600px;
  padding: 5px 20px;
  height: 25px;
  margin: 15px 0;
  border-radius: 5px;
  
}

.AddFoodForm {
  display: flex;
  justify-content: center;
}

.AddFoodForm label{
  text-align: left;
 font-weight: bold;
}
.AddFoodForm button{
  color: white;
  background: dodgerblue;
  border: none;
  border-radius: 2px;
  padding: 15px 25px;
  font-size: 18px;
  width: 120px;

}